.corvermelha{
    color: red;
}
body{
background-image:url('https://i.gifer.com/4IUm.gif');
background-size:cover;
background-position: center;

}
.branquin           
{

    color: white;
}
.tabela{
    background-color: black;
}